<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <title>MathOverflow Documentation - {{ title }}</title>
    <link href="./site.css" type="text/css" rel="Stylesheet" />
    <script type="text/javascript" src="script/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="script/links.js"></script>
</head>
<body>
    <div class="content">
		<h1 id="header">MathOverflow Documentation</h1>
        <div id="backLink"><a href="index.html">&larr; back to index</a></div><br />
        {{ content }}
    </div>
</body>
</html>
